
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 962px;
  height: 490px;
  margin-top: 40px;
  padding: 10px;
  background: #FFFFFF;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  &__progress {
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 26px;
    z-index: 4;
    width: 100%;
    height: 80px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.06));
  }

  &__quiz {
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__sendAnswer {
      margin-top: 40px;
      margin-bottom: 45px;
      width: 510px; 
      display: flex;
      flex-wrap: wrap;
      justify-content: center;


      & .form__quiz__answers__item {
        width: 160px;
        margin: 0 5px 10px;
      }
    }

    &__input {
      margin-top: 40px;
      width: 210px;
      height: 60px;
      background: #F4F4F4;
      box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.02);
      border-radius: 4px;
      border: none;
      padding: 20px;
      outline: none;
      font-family: Gilroy;
      font-size: 16px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.45);

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type=number] {
        -moz-appearance: textfield;
      }
    }

    &__answers {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__item {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        width: 280px;
        height: 45px;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;

        &__text {
          font-family: Gilroy;
          font-weight: 600;
          font-size: 15px;
          line-height: 26px;
        }
      }
    }

    &__number {
      font-family: Gilroy;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 35px;
      color: #000000;
    }

    &__question {
      font-family: Gilroy;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      margin-top: 20px;
      color: #242424;
      
      & span {
        color: #50B520;
        font-weight: 700;
      }
    }
  }

  &__listType {
    margin: 12.5px;
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__active,
    &__unActive {
      border-radius: 50%;
      box-shadow: inset 0px 10px 20px rgba(255, 255, 255, 0.16);
      width: 14px;
      height: 14px;
    }

    &__active {
      background: linear-gradient(180deg, #FEE9A1 0%, #FFDD64 100%);
    }

    &__unActive {
      background: #F2F2F2;
    }
  }
}

.nextButton {
  bottom: -29px;
  position: absolute;
  width: 150px;
  height: 58px;
  cursor: pointer;

  &__finished {
    position: absolute;
    bottom: -36.5px;
    width: 307px;
    height: 75px;
    cursor: pointer;
  }

  &__main {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(98.61deg, #FBDB6A 5.19%, #FFEBA3 49.97%, #FBDB6A 95.49%);
    box-shadow: inset 0px 0px 26px rgba(255, 255, 255, 0.54);
    border-radius: 52px;

    & p {
      margin-right: 15px;
      font-family: Gilroy;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #242424;
    }
  }

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 3px;
    background: #E8C240;
    border-radius: 52px;
  }
}

.inputMask{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 25px;
  width: 307px;
  height: 90px;

  background: rgba(250, 250, 250, 0.62);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.01);
  border-radius: 4px;

  &__text {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;

    color: rgba(36, 36, 36, 0.5);
  }

  &__input{
    margin-top: 10px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    border: none;
    outline: none;
    background: transparent;

    &::placeholder{
      color: rgba(0, 0, 0, 0.14);
    }
  }
  
}