.inputMask__input {
  margin-top: 10px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  border: none;
  outline: none;
  background: transparent;

  &::placeholder{
    color: black;
  }
}

