@import './assets/fonts/Gilroy-Regular/style.scss';
@import './assets/fonts/Gilroy-Medium/style.scss';
@import './assets/fonts/Gilroy-Bold/style.scss';
@import './assets/fonts/Gilroy-Extrabold/style.scss';

.main {
  background-image: url('./assets/images/image 150.png');
  // background-size: cover;
  position: relative;
  
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.15);
    z-index: 1;
  }

  &__content {
    position: relative;
    z-index: 2;
    background-image: url('./assets/images/Group 382.png');
    background-repeat: no-repeat;
    // background-size: contain;
    height: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__answers {
      font-family: Gilroy;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      margin-top: 73px;
    }

    &__raise {
      margin-top: 12px;
      width: 413px;
      text-align: center;
      font-family: Gilroy;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 34px;
      color: #242424;

      &>span {
        font-weight: 700;
        color: #50B520;
      }
    }
  }
}

.bush {
  position: absolute;
  width: 400px;
  height: 400px;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 3;

  &__img {
    left: -540px;
    top: -625px;
    position: absolute;
  }
}

.cow {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3  ;
}

.logo {
  display: flex;
  align-items: center;
  margin-top: 60px;

  &__text {
    width: 231px;
    margin-left: 15px;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
  }
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 962px;
  height: 490px;
  padding: 10px;
  background: #FFFFFF;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  &__progress {
    position: relative;
    z-index: 4;
    width: 100%;
    height: 80px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.06));
  }

  &__quiz {
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__input {
      margin-top: 40px;
      width: 210px;
      height: 60px;
      background: #F4F4F4;
      box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.02);
      border-radius: 4px;
      border: none;
      padding: 20px;
      outline: none;
      font-family: Gilroy;
      font-size: 16px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.45);
    }

    &__answers {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__item {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        width: 280px;
        height: 45px;

        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;

        &__text {
          font-family: Gilroy;
          font-weight: 600;
          font-size: 15px;
          line-height: 26px;
        }
      }
    }

    &__number {
      font-family: Gilroy;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 35px;
      color: #000000;
    }

    &__question {
      font-family: Gilroy;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      margin-top: 20px;
      color: #242424;
      
      & span {
        color: #50B520;
        font-weight: 700;
      }
    }
  }

  &__listType {
    margin: 12.5px;
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__active,
    &__unActive {
      border-radius: 50%;
      box-shadow: inset 0px 10px 20px rgba(255, 255, 255, 0.16);
      width: 14px;
      height: 14px;
    }

    &__active {
      background: linear-gradient(180deg, #FEE9A1 0%, #FFDD64 100%);
    }

    &__unActive {
      background: #F2F2F2;
    }
  }
}

.nextButton {
  bottom: -29px;
  position: absolute;
  width: 150px;
  height: 58px;

  &__finished {
    position: relative;
    width: 307px;
    height: 75px;
  }

  &__main {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(98.61deg, #FBDB6A 5.19%, #FFEBA3 49.97%, #FBDB6A 95.49%);
    box-shadow: inset 0px 0px 26px rgba(255, 255, 255, 0.54);
    border-radius: 52px;

    & p {
      margin-right: 15px;
      font-family: Gilroy;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #242424;
    }
  }

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 3px;
    background: #E8C240;
    border-radius: 52px;
  }
}